body {
  text-align: center;
}

/* Header */
.header-container {
  background-color: lightblue;
  border-radius: 5px;
  margin: 1vw;
}

.header-title {}

.header-subtext {}

/* Nav */
nav {
  border: groove 1px;
  background-color: lightsteelblue;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.nav-li {
  display: inline-block;
  margin-left: 1vw;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.nav-link {
  text-decoration: none;
  display: block;
  padding: 8px;
}

/* BlogPostList */
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* BlogPostTile */
.tile {
  display: inline-block;
  background-color: floralwhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tile-img {
  height: 15vw;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.tile-content-container {
  padding: 2px 16px;
}

.tile-title {
  font-size: 20px;
}

.tile-copy-preview {}

.tile-link {}


/* SingleBlogPost */
.blog-page {
  font-family: sans-serif;
  color: #222;
}

.banner {
  height: 25vw;
  background-color: rebeccapurple;
  background-size: 100% auto;
  background-position: center;
}

.blog-title {
  text-align: center;
}

.banner-img {
  height: 25vw;
  width: 100%;
  object-fit: cover;
}

.blog-copy {
  margin: 5vw;
  margin-left: 15vw;
  margin-right: 15vw;;

}

.blog-paragraph {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-header {
  justify-content: center;
}

.blog-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 35vw;
}

.blog-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Footer */
.footer-container {
  border-radius: 5px;
  background-color: lightblue;
  margin: 1vw;
}

.social-container {}

.social-item {
  display: inline-block;
  margin-left: 1vw;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.social-link {
  text-decoration: none;
  display: block;
  padding: 8px;
}

.fa-icon {
  color: #222;
}