.app {
  text-align: center;
}

/* Header */
.header-container {
  background-color: lightblue;
}

.header-title {}

.header-subtext {}

/* Nav */
nav {
  background-color: lime;
}

.nav-item {
  list-style-type: none;
  display: inline;
  margin: 1vw;
}

.nav-link {}

/* BlogPostList */
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* BlogPostTile */
.tile {
  display: inline-block;
  background-color: lightsalmon;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tile-img {
  height: 15vw;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.tile-content-container {
  padding: 2px 16px;
}

.tile-title {
  font-size: 20px;
}

.tile-copy-preview {}

.tile-link {}


/* SingleBlogPost */
.blog-page {}

.banner {}

.blog-title {}

.banner-img {}

.blog-copy {}

/* Footer */
.footer-container {
  background-color: lightslategray;
}

.social-container {}

.social-item {}

.social-link {}