.app {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  overflow: hidden;
  margin: 10px;
  height: 250px;
  width: 250px;
  padding: 20px;
  border: black solid;
}

.tile-title {}

.tile-img {
  height: 100px;
}

.tile-copy-preview {}